<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.microfocus.eclipse.launchCBL">
<booleanAttribute key="CodeCoverage_Accumulate" value="false"/>
<booleanAttribute key="CodeCoverage_Enabled" value="false"/>
<stringAttribute key="CodeCoverage_LogFolder" value="Coverage"/>
<stringAttribute key="CodeCoverage_ResultsFolder" value="CoverageResults"/>
<booleanAttribute key="Profiler_Enabled" value="false"/>
<stringAttribute key="Profiler_LogFolder" value="Profiler"/>
<stringAttribute key="buildConfiguration" value="New Configuration"/>
<stringAttribute key="cfgBlockName" value="New_Configuration.bin\New_Configuration.gcf"/>
<mapAttribute key="cobol-switches"/>
<stringAttribute key="editorDebugger" value="com.microfocus.eclipse.editor.cobol.CobolEditor"/>
<booleanAttribute key="is64BitProcess" value="false"/>
<booleanAttribute key="isConsoleApplication" value="true"/>
<booleanAttribute key="isDefaultGeneratedDebug" value="true"/>
<booleanAttribute key="isDefaultMultiThreaded" value="true"/>
<booleanAttribute key="isProgramExternalFile" value="false"/>
<booleanAttribute key="isProgramInProject" value="true"/>
<booleanAttribute key="isSuspendAtStopRun" value="false"/>
<booleanAttribute key="mainOnlyProgBreakpoint" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/labo1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="process_factory_id" value="com.microfocus.eclipse.launch.core.process.ProcessFactory"/>
<stringAttribute key="programName" value="New_Configuration.bin/labo1.exe"/>
<stringAttribute key="projectName" value="labo1"/>
<stringAttribute key="remote_DISPLAY" value=""/>
<stringAttribute key="remote_daemon_port" value=""/>
<booleanAttribute key="remote_daemon_port_enabled" value="true"/>
<stringAttribute key="remote_host" value=""/>
<stringAttribute key="remote_host_alias_name" value=""/>
<mapAttribute key="rts-switches">
<mapEntry key="F0" value="on"/>
<mapEntry key="O0" value="on"/>
</mapAttribute>
<stringAttribute key="runtimeArguments" value=""/>
<mapAttribute key="tunables">
<mapEntry key="ansi_input_mode" value="false"/>
<mapEntry key="arguments_are_initial" value="false"/>
<mapEntry key="command_line_accept" value="false"/>
<mapEntry key="current_day" value="0"/>
<mapEntry key="current_hour" value="-1"/>
<mapEntry key="current_minute" value="-1"/>
<mapEntry key="current_month" value="0"/>
<mapEntry key="current_second" value="-1"/>
<mapEntry key="current_year" value="0"/>
<mapEntry key="datewarp_dynamic" value="false"/>
<mapEntry key="default_cancel_mode" value="1"/>
<mapEntry key="dynamic_memory_limit" value="2147483647"/>
<mapEntry key="memory_free_check_size" value="100"/>
<mapEntry key="memory_strategy" value="1"/>
<mapEntry key="program_search_order" value="4"/>
<mapEntry key="screen_cols" value="80"/>
<mapEntry key="screen_lines" value="25"/>
<mapEntry key="sort_memory" value="0"/>
<mapEntry key="timewarp_dynamic" value="false"/>
</mapAttribute>
<intAttribute key="tunables_set" value="2"/>
<stringAttribute key="workingDirectory" value=""/>
</launchConfiguration>
